* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` требуется для иконок */
    /* `JetBrains Mono` требуется для текста */
    font-family:
        FontAwesome,
        JetBrains Mono,
        sans-serif;
    min-height: 25px;
}

@define-color bg-color #2f2f2f;
@define-color bg-color-active #4b4b4b;

@define-color c-text-color #ffffff;
@define-color c-text-color-active #3cb478;
@define-color c-text-color-persistent #7c818c;

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

tooltip {
    padding: 16px;
    background: @bg-color;
    border-radius: 10px;
}

#tray menu {
    padding: 16px;
    background: @bg-color;
    border-radius: 10px;
}

#tray menu menuitem {
    border-radius: 10px;
}

#tray menu separator {
    border-radius: 10px;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: @bg-color;
}

#workspaces button {
    margin: 0.2em;
    color: @c-text-color; /*7c818c*/
    background: transparent;
    padding: 5px;
    font-size: 18px;
    transition: all 0.3s cubic-bezier(0.04, 0.39, 0.24, 1.05);
}

#workspaces button.persistent {
    color: @c-text-color-persistent;
    font-size: 18px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @c-text-color; /*текст*/
    background: @bg-color-active; /*фон*/
}

#workspaces button.active {
    background: @bg-color-active; /*4e5263*/ /*фон*/
    color: @c-text-color-active; /*текст*/
    border-radius: inherit;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 8px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#submap {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45; /*текст*/
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#cpu {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

#battery.charging {
    color: @c-text-color; /*текст*/
    background-color: #26a65b;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black; /*текст*/
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @c-text-color; /*текст*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: @c-text-color; /*текст*/
    background: @bg-color; /*фон*/
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000; /*текст*/
    }
}
