* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrains Mono Bold, sans-serif;
    min-height: 20px;
}

/*  */

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #2F2F2F;
}

#workspaces button {
    transition: none;
    color: #ffffff; /*7c818c*/
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #ffffff; /*текст*/
    background: #4B4B4B; /*7c818c*/ /*фон*/
}

#workspaces button.active {
    background: #4B4B4B; /*4e5263*/ /*фон*/
    color: #3cb478; /*текст*/
    border-radius: inherit;
}

#language {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 8px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 8px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#custom-mail {
    margin-right: 8px;
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none; 
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#submap {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45; /*текст*/
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#cpu {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

#battery.charging {
    color: #ffffff; /*текст*/
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black; /*текст*/
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff; /*текст*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff; /*текст*/
    background: #2F2F2F; /*фон*/
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000; /*текст*/
    }
}
