* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 10;
    border-color: black;
	text-decoration-color: #FFFFFF;
    font-family: "JetBrainsMono";
    font-size: 20px;
    color: #151515;
	background-color: #4b4b4b;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 10px;
}

button:focus, button:active, button:hover {
    background-size: 160px;
	background-color: #3cb478;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/dvmdd/.hdotsfiles/.wlogout-icons/lock-icon.png"));
}

#logout {
    background-image: image(url("/home/dvmdd/.hdotsfiles/.wlogout-icons/end-session-icon.png"));
}

#suspend {
    background-image: image(url("/home/dvmdd/.hdotsfiles/.wlogout-icons/suspend-icon.png"));
}

#hibernate {
    background-image: image(url("/home/dvmdd/.hdotsfiles/.wlogout-icons/hibernate-icon.png"));
}

#shutdown {
    background-image: image(url("/home/dvmdd/.hdotsfiles/.wlogout-icons/power-off-icon.png"));
}

#reboot {
    background-image: image(url("/home/dvmdd/.hdotsfiles/.wlogout-icons/reboot-icon.png"));
}
